{% extends "encyclopedia/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Create File{% endblock %}</title>
</head>
<body>
    {% block body %}
        <h1>Create File</h1>
        <form method="post" action="{% url 'create' %}">
            {% csrf_token %}
            <input name="title" class="form-control" placeholder="Title"/>
            <input name="content" class="form-control" placeholder="Content"/>
            <button class="btn-dark" type="submit">Save</button>
        </form>
    {% endblock %}
</body>
</html>