{% extends "encyclopedia/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Edit File{% endblock %}</title>
</head>
<body>
    {% block body %}
        <h1>Edit File</h1>
        <form method="post" action="{% url 'edit' name %}">
            {% csrf_token %}
            <div class="col-7">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" id="content" class="form-control" rows="9" placeholder="Enter Markdown Content"></textarea>
                <hr/>
                <button class="btn-dark btn-lg" type="submit">Save</button>
            </div>
        </form>
    {% endblock %}
</body>
</html>